{% extends 'AppBlog/base.html' %}

{% load static %}

{% block head %}
<title>BestReads - Editar Perfil</title>
{% endblock %}

{% block contenidoQueCambia %}  

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h2>Editar Perfil</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section class="contact-us">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="down-contact">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="sidebar-item contact-form">
                      <div class="sidebar-heading">
                        <h2>Completa los datos</h2>
                      </div>
                      <div class="content">
                      {% if errores %}
                      <p>Errores encontrados:</p>
                      <p style="color:red">{{errores}}</p>
                      {% endif %}
                      <form method="post">        
                          {% csrf_token %}
                          {{formulario.as_p}}
                          <input type="submit" name="cargar-datos" value="Guardar">
                      </form>
                      <form method="post">        
                        {% csrf_token %}
                        {{ formulario_3.as_p }}
                        <input type="submit" name="cargar-datos-2" value="Guardar">
                    </form>
                      <form method="post" enctype="multipart/form-data">        
                        {% csrf_token %}
                        {{ formulario_2.as_p }}
                        <input type="submit" name="cargar-avatar" value="Guardar">
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}